<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session Secret Generator</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="alert" class="alert"></div>

    <div class="container">
      <h1>Session Secret Generator</h1>

      <form id="generateSecret">
        <label>Secret Length <span id="inputLength">32</span> (bytes)</label>
        <input
          type="range"
          min="8"
          max="64"
          value="32"
          name="length"
          oninput="inputLength.innerText = this.value"
        />
        <button id="submit">Generate</button>
      </form>

      <div class="output">
        <h3>Generated Secret</h3>
        <textarea readonly></textarea>
        <button id="copyBtn">Copy</button>
      </div>
    </div>

    <script>
      const alertBox = document.getElementById("alert");

      function showAlert(message, success = false) {
        alertBox.innerText = message;

        alertBox.classList.remove("success");
        if (success) alertBox.classList.add("success");

        alertBox.classList.add("show"); // تبدأ الأنيميشن

        // تخفي بعد 2.5 ثانية
        setTimeout(() => {
          alertBox.classList.remove("show");
        }, 2500);
      }

      document
        .getElementById("generateSecret")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          const length = document.querySelector('input[name="length"]').value;

          if (!length) return showAlert("Please choose a valid length!");

          try {
            const response = await fetch("/generate", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ length }),
            });

            if (!response.ok)
              return showAlert(`(${response.status}) ${response.statusText}`);

            const data = await response.json();
            document.querySelector("textarea").value = data.secret;

            showAlert("Secret generated successfully!", true);
          } catch (err) {
            showAlert("Something went wrong!");
          }
        });

      document.getElementById("copyBtn").addEventListener("click", async () => {
        const text = document.querySelector("textarea").value;

        if (!text) return showAlert("Nothing to copy!");

        try {
          await navigator.clipboard.writeText(text);
          showAlert("Copied to clipboard!", true);
        } catch {
          showAlert("Failed to copy!");
        }
      });
    </script>
  </body>
</html>
